<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","anchor":"main-content","align":"full","layout":{"type":"default"}} -->
<main id="main-content" class="wp-block-group alignfull">
	<!-- wp:pattern {"slug":"school-page/hero"} /-->

	<!-- wp:pattern {"slug":"school-page/important-notice"} /-->

	<!-- wp:pattern {"slug":"school-page/quick-links"} /-->

	<!-- wp:pattern {"slug":"school-page/values"} /-->

	<!-- wp:pattern {"slug":"school-page/latest-news"} /-->

	<!-- wp:pattern {"slug":"school-page/contact"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
